.header {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  width: 100%;
  height: 60px;
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), transparent);
  display: flex;

  .mainSection {
    flex: 1;
    padding: 10px 0;

    .user {
      color: light-dark(
        var(--mantine-color-black),
        var(--mantine-color-dark-0)
      );
      padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
      border-radius: var(--mantine-radius-sm);
      transition: background-color 100ms ease;

      &:hover {
        background-color: light-dark(
          var(--mantine-color-white),
          var(--mantine-color-dark-8)
        );
      }
    }

    .userActive {
      background-color: light-dark(
        var(--mantine-color-white),
        var(--mantine-color-dark-8)
      );
    }
  }

  .main {
    width: 240px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    border-right: 1px solid var(--mantine-color-gray-3);
    background-color: white;
  }
}
